/*
* Define your color variables here
*/

$theme-color-blue-5: #03045e;
$theme-color-blue-4: #0077b6;
$theme-color-blue-3: #00b4d8;
$theme-color-blue-2: #90e0ef;
$theme-color-blue-1: #caf0f8;

$theme-color-white-1: #fafafa;
